.q-breadcrumbs {
  margin-bottom: 1em;
}

.q-table th {
  font-weight: 600;
}

/* q-gutter- doest not appy for q-from for some reason. Thus: */
.q-form {
  margin-top: 1em;
}

/* перенос по словам в таблице*/
.q-table td,
.q-table th {
  /* don't shorten cell contents */
  white-space: normal !important;
}

.q-table td,
.q-table th {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
